
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar excel</title>

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% if error_messages %}
    <div class="alert alert-danger">
        <ul>
        {% for message in error_messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="{% url 'import_from_excel' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    
    {% endblock %}

</body>